{% extends 'layout.html.twig' %}

{% block content %}

    <section>
        <div class="container align-aboutus">
            <div class="col-12 titre-aboutus">
                <h1>Découvrez toutes les particularités du vin</h1>
            </div>
        </div>
        <div class="row bloc-aboutus">
            <div class="col-md-6 col-12 imgaboutus">
                <img class="img-photodecouvrir_1" src="/assets/images/photodecouvrir_1.jpg" alt="photodecouvrir_1">
            </div>
            <div class="col-md-6 col-12 textaboutus">
                <h3>Qu’est-ce qu’un cépage ?</h3>
                <p>Qu’est-ce qu’un cépage ? Le cépage est une « variété » de plant de vigne ou de raisin utilisé pour
                    réaliser un vin. Chaque vigne est différente de par son feuillage ou encore l’aspect des grappes,
                    c’est ce que l’on appelle dans le monde viticole un cépage.</p>
                <p>On distingue une quarantaine d’espèces les plus communes étant :</p>
                <ul>
                    <li><p>Vitis vinifera, ou espèce européenne,</p></li>
                    <li><p>Vitis rupestris, Vitis riparia, Vitis berlandieri, Vitis labrusca … , espèces d’origine
                            américaine.</p></li>
                </ul>
                <p>Ces espèces regroupent des cépages de variétés différentes comme le Merlot, le Chardonnay,
                    Gamay….<br> On distingue deux typologies de raisins :</p>
                <ul>
                    <li><p>Les raisins de table (Muscat, Cardinal, Perlette…),</p></li>
                    <li><p>Les raisins de cuve (Merlot, Cabernet franc, Chardonnay…).</p></li>
                </ul>
            </div>
        </div>
        <div class="row bloc-aboutus2">
            <div class="col-md-6 col-12 textaboutus">
                <h3>Qu’est-ce qu’une appellation ?</h3>
                <p>La France est le modèle, la définition des appellations d’origine ou cru est basée sur la notion de
                    terroir. Chaque Cru, chaque appellation, a développé une spécialité qui lui est propre et qui n’aura
                    jamais les mêmes caractéristiques (production, goût, saveur), qu’un Cru ou une appellation
                    voisine.</p>
                <p>Le vin est par essence et par définition produit de terroir, en tout cas le vin authentique. Le
                    principe même des appellations françaises est enraciné dans l’extraordinaire diversité des régions
                    et des AOC de France. Il suffit de parcourir les vignobles de france, de flaner dans les rues
                    d’Eguisheim ou d’Arbois, d’Irancy ou de Vougeot, de Margaux ou de Saint-Emilion, de Bergerac ou de
                    Collioure, pour sentir l’identité profonde des vins, avant même de les découvrir verre à la main
                    dans la cave d’un vigneron véritable Ambassadeur de sa région.</p>
            </div>
            <div class="col-md-6 col-12">
                <img class="photodecouvrir_2" src="/assets/images/photodecouvrir_2.jpg" alt="photodecouvrir_2">
            </div>
        </div>
            <div class="row bloc-aboutus3">
                <div class="col-12">
                    <h3 style="padding-bottom: 15px;">Qu’est ce qu’un millésime ?</h3>
                    <p>En œnologie, un millésime désigne l’année de la vendange des raisins et de l’élaboration du
                        vin qui figure normalement sur l’étiquette.<br>Il permet de valoriser en quelques sortes une production annuelle comme bonne ou excellente
                        et est un repère important pour apprécier la qualité d’un vin.</p>
                    <strong style="color: #8B806F;">Qualité et importance du millésime</strong>
                    <p>Au-delà de son âge, le millésime d’un vin prestigieux permet de donner des indications sur le
                        niveau de qualité d’un vin. Ainsi pour un même domaine bordelais, la qualité d’un millésime
                        1990 serait supérieure à celui d’un millésime 1991, du fait que l’année 1990 a bénéficié
                        d’un temps presque parfait, ce qui n’est pas le cas de l’année 1991 qui a surtout connue une
                        année assez médiocre.</p>
                    <p>Cela permet également à l’amateur de suivre le vieillissement de ses bouteilles, de prévoir
                        leur apogée et donc de fixer le meilleur moment pour les ouvrir.</p>
                    <strong style="color: #8B806F;">Bon à savoir</strong>
                    <p>En règle générale, les bons mousseux et les champagnes ne peuvent faire apparaître un
                        millésime sur l’étiquette du fait qu’ils sont constitués d’un assemblage de vins datant de
                        deux ans ou plus. S’il vous arrive donc de voir un champagne millésimé, cela signifie que
                        c’est un grand champagne résultant d’une année excellente et qui provient uniquement de la
                        récolte de l’année.</p>
                </div>
            </div>
            <div class="row bloc-aboutus4">
                <div class="col-12">
                    <img class="photopaysage_Decouvrir" src="/assets/images/photopaysage_Decouvrir.jpg"
                         alt="photopaysage_Decouvrir">
                </div>
            </div>
    </section>

{% endblock %}